---
title: "Point One: Reusable components for Eleventy"
permalink: /
---
<section class="container">
This site's content is built from single-file components.
<hr>
<img src="/assets/images/favicon.svg" alt="ZeroPoint logo">
</section>
