---
title: Single-file components for Eleventy 🧩
permalink: /
components:
  - type: text
    body: >-
      ## Get started:


      This site's content is built from single-file components and a content management system.


      - - -


      ![ZeroPoint Logo](/assets/images/favicon.svg)
---
