{# Loop through the components array #}
{%- for item in components -%}
  {# Find the component in the collections #}
  {% for component in collections.components -%}
    {# Check if the component's title matches the item's type #}
    {%- if component.data.title | slugify == item.type | slugify -%}
      {# Render collection item's rawInput with the current component's data  #}
      {{- component.rawInput | renderContent("njk", item) | safe -}}
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}
