---
layout: base.njk
---
<div class="tab-content">
  <div class="tab-pane fade show active" id="{{ page.data.title | slugify }}Rendered">
    <header class="container mb-5" id="page-header">
      <h1>
        {{ title | safe }}
      </h1>
    </header>
    {{ content | safe }}  </div>
  <div class="tab-pane fade" id="{{ page.data.title | slugify }}Source">
    <div class="container">
      <div class="shadow rounded">
      {% highlight "yml" %}
      {{- page | getFrontmatter | safe -}}
      {% endhighlight %}
      {% highlight "html" %}
      {{- page.rawInput | safe -}}
      {% endhighlight %}
    </div>
  </div>
</div>
