---
title: Example
permalink: /example/
components:
  - type: callout
    heading: Callout heading from frontmatter
    description: Callout description from frontmatter
    background: light
  - type: text-and-image
    heading: Text and Image heading from frontmatter
    description: Text and Image description from frontmatter
    image: /assets/images/possums.jpg
    imageAlt: A cute possum
    background: primary
---
